# Bank Note Authentication
Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("BankNote_Authentication.csv")

In [11]:
df.shape

(1372, 5)

In [12]:
df.head(15)

    variance  skewness  curtosis  entropy  class
0    3.62160    8.6661  -2.80730 -0.44699      0
1    4.54590    8.1674  -2.45860 -1.46210      0
2    3.86600   -2.6383   1.92420  0.10645      0
3    3.45660    9.5228  -4.01120 -3.59440      0
4    0.32924   -4.4552   4.57180 -0.98880      0
5    4.36840    9.6718  -3.96060 -3.16250      0
6    3.59120    3.0129   0.72888  0.56421      0
7    2.09220   -6.8100   8.46360 -0.60216      0
8    3.20320    5.7588  -0.75345 -0.61251      0
9    1.53560    9.1772  -2.27180 -0.73535      0
10   1.22470    8.7779  -2.21350 -0.80647      0
11   3.98990   -2.7066   2.39460  0.86291      0
12   1.89930    7.6625   0.15394 -3.11080      0
13  -1.57680   10.8430   2.54620 -2.93620      0
14   3.40400    8.7261  -2.99150 -0.57242      0

In [13]:
df.tail(15)

      variance  skewness   curtosis   entropy  class
1357 -2.589900  -0.39110   0.934520  0.429720      1
1358 -1.011600  -0.19038  -0.905970  0.003003      1
1359  0.066129   2.49140  -2.940100 -0.621560      1
1360 -0.247450   1.93680  -2.469700 -0.805180      1
1361 -1.573200   1.06360  -0.712320 -0.838800      1
1362 -2.166800   1.59330   0.045122 -1.678000      1
1363 -1.166700  -1.42370   2.924100  0.661190      1
1364 -2.839100  -6.63000  10.484900 -0.421130      1
1365 -4.504600  -5.81260  10.886700 -0.528460      1
1366 -2.410000   3.74330  -0.402150 -1.295300      1
1367  0.406140   1.34920  -1.450100 -0.559490      1
1368 -1.388700  -4.87730   6.477400  0.341790      1
1369 -3.750300 -13.45860  17.593200 -2.777100      1
1370 -3.563700  -8.38270  12.393000 -1.282300      1
1371 -2.541900  -0.65804   2.684200  1.195200      1

In [14]:
# independent features
X =df.iloc[:,:-1] # except the last column
# dependent feature
y = df.iloc[:,-1] # only the last column

In [16]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [17]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state =0) # test_size means 30% of the dataset used as test, shuffle is true by default

In [24]:
# Implementing Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [25]:
y_pred = classifier.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)

In [27]:
score

0.9902912621359223

In [29]:
# creating pickle file for using serialization
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier,pickle_out)
pickle_out.close()

In [30]:
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)